<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.ProcessStudentMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.ProcessStudent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="processId" column="processId" jdbcType="BIGINT"/>
            <result property="studentId" column="studentId" jdbcType="BIGINT"/>
            <result property="completionStatus" column="completionStatus" jdbcType="INTEGER"/>
            <result property="completionTime" column="completionTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,processId,studentId,
        completionStatus,completionTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
